{% extends "main/home.html" %}
{% load static %}
{% block content %}
<div class="slider display-table center-text" style="background-image: url({% static "images/category-2.jpg" %})">
		<h1 class="title display-table-cell"><b>ТОЧКИ</b></h1>
	</div><!-- slider -->

	<section class="blog-area section">
		<div class="container">

			<div class="row">

				{% for point in object_list %}
        <div class="col-lg-4 col-md-6">
					<div class="card h-100">
						<div class="single-post post-style-1">
							<div class="blog-info">
								<h2 class="title"><a href="/points/{{point.id}}"><b>{{ point.name }}</b></a></h2>
							</div><!-- blog-info -->
						</div><!-- single-post -->
					</div><!-- card -->
				</div>
    {% endfor %}
                <!-- col-lg-4 col-md-6 -->
            </div>


		</div><!-- container -->
	</section>


    {% endblock %}